
<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <div style="height:100%;">
        <h6>History Tracking</h6>
        <template if:true={showComp}>
            <table class="slds-table_cell-buffer">
                <thead>
                    <tr class="tablecol">
                        <th style="width:15%;"> 
                           Current Name
                        </th>
                        <th style="width:15%;">
                            Previous Name
                        </th>
                        <th style="width:15%;">
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={dataObj} for:item="object" for:index=index>
                        <tr key={object.newValue}>
                            <td class="slds-p-top_xx-small slds-m-top_x-small">
                                <div>
                                    <template if:true={object.newValue}>
                                        {object.newValue}
                                    </template>
                                </div>
                            </td>
    
                            <td class="slds-p-top_xx-small slds-m-top_x-small">
                                <div>
                                    <template if:true={object.oldValue}>
                                        {object.oldValue}
                                    </template>
                                </div>
                            </td>
    
                            <td class="slds-p-top_xx-small slds-m-top_x-small">
                                <div>
                                    <template if:true={object.createdDate}>
                                        {object.createdDate}
                                    </template>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </template>
        
        <template if:false={showComp}>
            <p>No Information Available</p>
        </template>
    </div>
</template>